.page {
  justify-content: flex-start;
  
  .title {
    padding-bottom: 0.5%;
    display: flex;
    justify-content: center;

    .game-id {
      padding-left: 1%;
    }
  }

  .board-container {
    padding-top: 10vh;
    width: 80%;
    height: 70vh;
  }
}