<div class="board">
  <div class="canvas-container">
    <canvas #canvas width="1000" height="1000">
    </canvas>

    <ng-container *ngIf="context">
      <div
        *ngFor="let cell of clientCells" 
        class="cell"
        [style.top.px]="cell.top"
        [style.left.px]="cell.left"
        [style.width.px]="cell.width"
        [style.height.px]="cell.height"
        (click)="onCellClick(cell.fieldNumber)"
      >
      </div>
    </ng-container>
  </div>
  <div class="messages">
    <md-list>
      <ng-container *ngIf="!game?.currentTurn && !game?.winner">
          <md-list-item>
            <span class="message">Waiting for second player</span>
          </md-list-item>
          <md-list-item>
            <md-progress-bar mode="indeterminate"></md-progress-bar>
          </md-list-item>
      </ng-container>
      <ng-container *ngIf="game?.currentTurn && !game?.winner">
        <ng-container *ngIf="game?.playerId">
          <md-list-item>
            <span class="message green">Your mark: {{ game.playerMark }}</span>
          </md-list-item>
          <md-list-item>
            <span 
              class="message"
              [ngClass]="{
                'green': game.currentTurn == game.playerMark
              }"
            >
              {{ game.currentTurn == game.playerMark ? "Your turn" : "Opponent's turn" }}
            </span>
          </md-list-item>
        </ng-container>
        <ng-container *ngIf="!game?.playerId">
          <md-list-item>
            <span 
              class="message"
            >
              {{ game.currentTurn  }} turn
            </span>
          </md-list-item>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="game?.winner">
        <md-list-item *ngIf="game.winner != 'draw'">
          <span
            *ngIf="game?.playerId"
            class="message"
            [ngClass]="{
              'green': game.winner == game.playerMark
            }"
          >
            {{ game.winner == game.playerMark ? "You won" : "You lost" }}
          </span>
          <span
            *ngIf="!game?.playerId"
            class="message"
          >
            {{ game.winner }} won
          </span>
        </md-list-item>
        <md-list-item *ngIf="game.winner == 'draw'">
            <span 
              class="message"
            >
              Draw
            </span>
          </md-list-item>
      </ng-container>
    </md-list>
  </div>
</div>
