<div class="page">
  <div class="menu">
    <span class="title">Tic-Tac-Toe</span>

    <md-list>
      <md-list-item>
        <button 
          md-raised-button 
          color="accent"
          (click)="createGame()"
        >
          Create game
        </button>
      </md-list-item>
      <md-list-item>
        <button md-raised-button color="accent">Join game</button>
      </md-list-item>
      <md-list-item>
        <button md-raised-button color="accent">Play with random player</button>
      </md-list-item>
    </md-list>
  </div>
</div>